body {
    display: flex;
    flex-direction: row;
}

#card-border {
    object-fit: scale-down;
    height: auto;
    aspect-ratio: 216/336;
    padding: .3vmin;
    border-radius: 1vmin;
    /* background: linear-gradient(to left,
            rgb(231, 205, 59),
            rgb(231, 205, 59) 20%,
            rgb(217, 173, 21) 40%,
            rgb(240, 215, 80)); */
            background-color: black;
    position: relative;
}

#card-content {
    height: auto;
    aspect-ratio: 216/336;
    border-radius: 1vmin;
    background: white;
    display: flex;
    position: relative;
}

#card-type {
    margin: .125vmin;
    display: flex;
    flex-direction: row;
}

#card-suit, #card-number {
    position: relative;
    font-family: 'Luxurious Roman', cursive;
    font-size: 3vmin;
    float: left;
}

#card-number {
    color: black;
}

#card-center-suit {
    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-40%,-40%);
    font-family: 'Luxurious Roman', cursive;
    font-size: 5vmin;
}

#card-center-svg {
    position: absolute;
    fill: url(#linear-gradient);
    margin: .25vmin;
    top: 50%;
    transform: translateY(-50%);
}

.red{
    color: red;
}

.black{
    color: black;
}