@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

/*
    font-family: 'Turret Road', cursive;
    font-family: 'Gideon Roman', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shippori Mincho B1', serif;
*/