#instructions-page {
    height: auto;
    width: auto;
    z-index: 2;
    background-color: transparent;
    display: none;
}

#instructions-page * {
    color: white;
}

#instructions-modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--base4);
    opacity: 0;
    display: none;
    transition: 750ms;
}

#instructions-content {
    width: 40vw;
    height: 70vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--base5);
    padding: 5vmin;
    overflow-y: scroll;
    opacity: 0;
    display: none;
    transition: 750ms;
}

#instructions-x-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1vmin;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    border: solid #ffffff .25vmin;
    background-color: var(--accent0);
    display: flex;
    justify-content: center;
}

#instructions-x-button:hover {
    background-color: #232324;
    cursor: pointer;
}

#instructions-x-button-text {
    font-weight: 250;
    font-size: 3vmin;
    color: var(--base5);
    font-family: Roboto, Arial;
    margin: 0;
}

#instruction-x-button:hover #instruction-x-button-text{
    color: var(--accent0);
}

#instructions-content-title {
    font-family: 'Turret Road', cursive;
    font-weight: bold;
}

#instructions-content-subtitle {
    text-align: right;
}

#instructions-content-paragraph {
    font-family: 'Roboto', sans-serif;
}