:root {
    --base1: #00AD11;
    --base2: #A6A6A6;
    --accent1: #00FA19;
    --accent2: #E6E6E6;
    --icon-h: 4vmin;
    --icon-w: 4vmin;
    --icon-switch-w: 6vmin;
}

body {
    overflow: hidden;
    background-color: var(--base2);
}

#front-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
}

h1 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
    font-family: roboto;
}

#front-page {
    width: 100vw;
    height: 100vh;
}

#front-page-elements {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#front-title-text {
    text-align: center;
    font-size: 6vmin;
    letter-spacing: 2vw;
}

#front-buttons-div {
    display: flex;
    justify-content: center;
}

.front-button {
    background-color: #FFFFFF;
    margin: 2vmin;
    height: 4vmin;
    width: 8vmin;
    border-radius: .5vmin;
    outline: none;
    border: none;
}

.front-button-text {
    color: #000000;
    text-align: center;
    font-size: 1.5vmin;
    margin: 0;
}

#icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    right: 2vmin;
    top: 2vmin;
}

.front-icon {
    height: var(--icon-h);
    width: var(--icon-w);
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: .5vmin;
}

.front-icon-text {
    font-family: roboto;
    margin: 0;
    font-size: calc(var(--icon-h)*2 /3);
    color: #A6A6A6;
    text-align: center;
    line-height: var(--icon-h);
}

#setting-icon-text {
    font-size: calc(var(--icon-h) *2 /3);
}

#mode-switch {
    height: calc(var(--icon-h) - 1vmin);
    width: var(--icon-switch-w);
    background-color: var(--base2);
    border-radius: var(--icon-h);
    border: solid #ffffff .5vmin;
    justify-content: center;
}

#mode-switch-nob {
    
    width: calc(var(--icon-h)*2 /3);
    height: calc(var(--icon-h)*2 /3);
    border-radius: 50%;
    background-color: #ffffff;
    transition: .5s;
    position: absolute;
}

#mode-switch-nob:hover {
    background-color: var(--accent2);
    /* transform: scale(1.15); */
}