.popup {
    height: auto;
    width: auto;
    z-index: 2;
    background-color: transparent;
    display: none;
}

.popup * {
    color: white;
}

.popup-modal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0;
    display: none;
    transition: 750ms;
}

.popup-content {
    width: 40vw;
    height: 70vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 5vmin;
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 0;
    display: none;
    transition: 750ms;
    border: 1px solid red;
}

.popup-x-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1vmin;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.popup-x-button:hover {
    cursor: pointer;
}

.popup-x-button-icon {
    fill: white;
    height: 4vmin;
    width: 4vmin;
}

#instructions-content-title {
    font-family: 'Turret Road', cursive;
    font-weight: bold;
}

#instructions-content-subtitle {
    text-align: right;
}

#instructions-content-paragraph {
    font-family: 'Roboto', sans-serif;
}

#login-content {
    overflow-y: hidden;
    border-radius: 1vmin;
}

#login-content h1 {
    position: absolute;
    text-align: center;
    color: red;
}