.goldBK {
    background: linear-gradient(to left,
            rgb(231, 205, 59),
            rgb(231, 205, 59) 20%,
            rgb(217, 173, 21) 40%,
            rgb(240, 215, 80));
}

.goldText {
    -webkit-text-stroke: .0125vmin var(--accent1);
    background: -webkit-gradient(linear, left top, right bottom,
            from(rgb(240, 215, 80)),
            color-stop(20%, rgb(231, 205, 59)),
            color-stop(40%, rgb(217, 173, 21)),
            to(rgb(252, 225, 134)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.popup-content *{
    color: white;
}

.popup#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    background-color: black;
    transition: 750ms;
    z-index: 10;
}

.popup-content {
    z-index: 11;
    width: 80vw;
    height: 80vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    padding: 5vmin;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    display: none;
    transition: 750ms;
    border: 1px solid red;
}

.popup-x-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1vmin;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.popup-x-button:hover {
    cursor: pointer;
}

.popup-x-button-icon {
    fill: white;
    height: 4vmin;
    width: 4vmin;
}

#instructions-page{
    flex-direction: column;
}

#instructions-title {
    font-family: 'Turret Road', cursive;
    font-weight: bold;
}

#instructions-subtitle {
    text-align: right;
}

#instructions-paragraph {
    font-family: 'Roboto', sans-serif;
}

#login-content h1 {
    position: absolute;
    text-align: center;
    color: red;
}

#exit-modal {
    transition: 750ms;
    /* display: inherit; */
    opacity: .5;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#exit-page {
    display: inherit;
    transition: 750ms;
    position: fixed;
    width: 35vw;
    height: 25vh;
    background: black;
    padding: 5vmin;
    border-radius: 2vmin;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

#exit-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#exit-text {
    font-family: 'Gideon Roman', cursive;
    letter-spacing: .5vmin;
    text-align: center;
}

.exit-border {
    width: 10vmin;
    height: 5vmin;
    padding: .25vmin;
    margin: 2vmin;
    border-radius: 1vmin;
}

.exit-button {
    width: 10vmin;
    height: 5vmin;
    justify-content: center;
    border-radius: 1vmin;
    align-items: center;
}

#exit-no {
    background: rgb(182, 0, 0);
    animation: none;
}

#exit-yes {
    background: #015f17;
    animation: none;
}

.exit-button p {
    line-height: 5vmin;
    top: 50%;
    margin: auto;
    font-family: 'Gideon Roman', cursive;
    font-size: 3vmin;
    text-align: center;
}

.exit-border:hover {
    transform: scale(1.1);
    background: linear-gradient(to left,
            rgb(231, 205, 59),
            rgb(231, 205, 59) 20%,
            rgb(217, 173, 21) 40%,
            rgb(240, 215, 80));
}

.exit-border:hover div p {
    color: #00AD11;
}

#result {
    position: absolute;
    width: fit-content;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.result #title-div-border {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -7vmin;
    z-index: 1;
    padding: 1vmin;
    border-radius: 2vmin;
}

.result #title-div-border #title-div {
    height: fit-content;
    width: fit-content;
    background-image: url(../photos/gold.svg);
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 2vmin;
    position: relative;
    border: 1vmin solid #000;
}

.result #title-div-border #title-div #title {
    background: linear-gradient(to left,
            #efd650ff,
            #f2d468ff 20%,
            #e7cd3bff 40%,
            #d8ad14ff 60%,
            #fbe185ff);
    color: #17871fff;
    mix-blend-mode: multiply;
    font-family: 'Gideon Roman', cursive;
    font-size: 7vmin;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 3vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
}

#result #content-border {
    display: flex;
    justify-content: center;
    border-radius: 2vmin;
    width: fit-content;
    height: fit-content;
    padding: 1vmin;
}

#result #content-border #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    border-radius: 2vmin;
}

#game-info {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    /* padding: 2vmin; */
}

.game-info-content {
    display: flex;
    flex-direction: row;
    padding: 6vmin 6vmin 0vmin 6vmin;
    padding-bottom: 0;
}

.zhuSuit, .zhuNumber {
    font-size: 3vmin;
    font-family: 'Gideon Roman', cursive;
    font-weight: 600;
}

#players {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-content {
    background-color: #000;
    padding: 2vmin;
    border-radius: 1vmin;
    margin-top: 1vmin;
    margin: 2vmin 3vmin 2vmin 3vmin;
}

#player-pfp-border {
    height: fit-content;
    width: fit-content;
    padding: .5vmin;
    border-radius: 2vmin;
    display: flex;
    justify-content: center;
    margin-bottom: 1vmin;
}

.player-pfp-img {
    height: 8vmin;
    width: 8vmin;
    border-radius: 2vmin;
}

.player-content .username {
    text-align: center;
    font-size: 2.25vmin;
    font-family: 'Shippori Mincho B1', serif;
    font-weight: 600;
}

#fanDiv {
    z-index: 1;
    height: 60vmin;
    width: 100vmin;
    position: absolute;
}

.fan-card {
    height: 30vmin;
    width: auto;
    position: absolute;
    transform-origin: bottom center;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -20%) rotate(calc(var(--card) * 20deg - 90deg));
    padding-bottom: 30vmin;
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.popup-hide-opacity{
    opacity: 0;
}

.popup-show-opacity{
    opacity: 1;
}

.popup-show-opacity-modal{
    opacity: .75;
}

.popup-hide{
    display: none;
}

.popup-show{
    display: flex;
}