#mode-switch {
    height: 2vmin;
    width: 5vmin;
    background-color: var(base2);
    border-radius: 2vmin;
    border: solid #ffffff .5vmin;
    padding: .5vmin;
}

#mode-switch-nob {
    height: 2vmin;
    width: 2vmin;
    border-radius: 50%;
    background-color: #ffffff;
    transition: .5s;
    position: relative;
}

#mode-switch-nob:hover{
    background-color: var(accent2);
    transform: scale(1.15);
}