/*
---------------------------------
!Table Of Contents
---------------------------------

 *1. Global Variables

 *2.  Metalic Gradients Style

 *3.  Typography

 *4.  General Style
    4.1 Popup Styles

 *5.  Front Page Style

 *6.  Lobby Page Style
    6.1 Main Content Styles
    6.2 Your Cards Styles
    6.3 Side Bar Styles
    6.4 Player Bar Styles
*/
/*
---------------------------------
*1. Global Variables
---------------------------------
*/
/*?linear gradient*/
/*
?color schemes 
*/
/*
? black theme
*/
/*
? white theme
*/
/* --base4: rgb(235, 235, 235);
   --base1: rgb(235, 235, 235); 
*/
/* 
?green theme
*/
/* --base1: #217E18;
   --base4: #015f17; 
*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #232324;
}

::-webkit-scrollbar-thumb {
  -webkit-transition: 1s;
  transition: 1s;
  background: #FFFFFF;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A6A6A6;
}

/*
---------------------------------
*2. Metalic Gradients Style
---------------------------------
*/
.goldBK {
  background: linear-gradient(135deg, #e7cd3b, #e7cd3b 20%, #d9ad15 40%, #f0d750);
  -webkit-animation: gradFlow 5s ease infinite;
          animation: gradFlow 5s ease infinite;
  background-size: 200% 200%;
}

.goldTxt {
  background: -webkit-gradient(linear, left top, right bottom, from(#f0d750), color-stop(20%, #e7cd3b), color-stop(40%, #d9ad15), to(#fce186));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradFlow 5s ease infinite;
          animation: gradFlow 5s ease infinite;
  background-size: 200% 200%;
}

.silverText {
  background: -webkit-gradient(linear, left top, right bottom, from(#d8d7d7), color-stop(20%, #b1b1b1), color-stop(40%, #7e7e7e), to(#b9b9b9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradFlow 5s ease infinite;
          animation: gradFlow 5s ease infinite;
  background-size: 200% 200%;
}

.silverBK {
  background: linear-gradient(135deg, #d8d7d7, #b1b1b1 20%, #7e7e7e 40%, #b9b9b9);
  -webkit-animation: gradFlow 5s ease infinite;
          animation: gradFlow 5s ease infinite;
  background-size: 200% 200%;
}

.hoverGoldBK:hover {
  background: linear-gradient(135deg, #e7cd3b, #e7cd3b 20%, #d9ad15 40%, #f0d750);
  -webkit-animation: gradFlow 5s ease infinite;
          animation: gradFlow 5s ease infinite;
  background-size: 200% 200%;
}

.hoverGoldTxt:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#f0d750), color-stop(20%, #e7cd3b), color-stop(40%, #d9ad15), to(#fce186));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradFlow 5s ease infinite;
          animation: gradFlow 5s ease infinite;
  background-size: 200% 200%;
}

.hoverSilverBK:hover {
  background: linear-gradient(135deg, #d8d7d7, #b1b1b1 20%, #7e7e7e 40%, #b9b9b9);
  -webkit-animation: gradFlow 5s ease infinite;
          animation: gradFlow 5s ease infinite;
  background-size: 200% 200%;
}

.hoverSilverTxt:hover {
  background: -webkit-gradient(linear, left top, right bottom, from(#d8d7d7), color-stop(20%, #b1b1b1), color-stop(40%, #7e7e7e), to(#b9b9b9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradFlow 5s ease infinite;
          animation: gradFlow 5s ease infinite;
  background-size: 200% 200%;
}

@-webkit-keyframes gradFlow {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 0% 20%;
  }
}

@keyframes gradFlow {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 0% 20%;
  }
}

/*
---------------------------------
*3. Typography
---------------------------------
*/
.themeBK {
  background: #191a19;
}

.themeTxt {
  color: #191a19;
}

.hoverThemeBK:hover {
  background: #191a19;
}

.hoverThemeTxt:hover {
  background: #191a19;
  -webkit-text-stroke: 0.0125vmin #191a19;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*
---------------------------------
*4. General Styles
---------------------------------
*/
body {
  margin: 0;
  overflow: hidden;
  background: #191a19;
  user-drag: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
      user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*
    ---------------------------------
    4.1 Popup Styles
    ---------------------------------
*/
/*
---------------------------------
*5. Main Page Styles
---------------------------------
*/
/*
TODO Add stuff here later this is filler
*/
/*
---------------------------------
*6. Lobby Page Styles
---------------------------------
*/
/*
    ---------------------------------
    6.1 Main Content Styles
    ---------------------------------
*/
.game .background {
  aspect-ratio: 1 / 1;
  height: 100%;
  position: absolute;
}

.game .content {
  aspect-ratio: 1 / 1;
  height: 100vmin;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10vmin auto 10vmin;
      grid-template-columns: 10vmin auto 10vmin;
  -ms-grid-rows: 10vmin auto 10vmin;
      grid-template-rows: 10vmin auto 10vmin;
}

.game .content .spacer {
  background: transparent;
}

.game .content #four,
.game .content #two {
  background: red;
}

.game .content #three {
  background: green;
}

.game .content .table {
  background: aqua;
}

.playerbar {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
}

.playerbar .arrow {
  width: 50px;
  background-color: #BC8C1F;
}

.playerbar .profiles img {
  aspect-ratio: 1 / 1;
  height: 10vmin;
}

.playerbar .profiles span {
  background-color: #000;
  position: absolute;
  width: 10.125vmin;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  margin-bottom: 1vmin;
}

.playerbar .profiles p {
  text-align: center;
  font-weight: 1000;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.playerbar .profiles .content {
  margin: .5vmin;
  padding: 1vmin;
  position: relative;
}

.playerbar .profiles#one div,
.playerbar .profiles#three div {
  background-color: #006400;
}

.playerbar .profiles#two div,
.playerbar .profiles#four div {
  background-color: #8b0000;
}

/*
    ---------------------------------
    6.2 Your Cards Styles
    ---------------------------------
*/
/*
    ---------------------------------
    6.3 Side Bar Styles
    ---------------------------------
*/
/*
    ---------------------------------
    6.3 Player Bar Styles
    ---------------------------------
*/
/*# sourceMappingURL=style.css.map */