body {
    overflow: hidden;
    background: var(--base4);
    background: radial-gradient(circle at center bottom, var(--base4) 20%, var(--base1) 100%);
    user-select: none;
    -webkit-user-select: none;
    /*Safari*/
    -moz-user-select: none;
    /*Firefox*/
}

#loading-ld-corner {
    position: absolute;
    fill: url(#linear-gradient);
    height: 30vmin;
    width: 30vmin;
    left: 0;
    bottom: 0;
}

#loading-lt-corner {
    position: absolute;
    fill: url(#linear-gradient);
    height: 30vmin;
    width: 30vmin;
    left: 0;
    top: 0;
}

#loading-rd-corner {
    position: absolute;
    fill: url(#linear-gradient);
    height: 30vmin;
    width: 30vmin;
    right: 0;
    bottom: 0;
}


#loading-rt-corner {
    position: absolute;
    fill: url(#linear-gradient);
    height: 30vmin;
    width: 30vmin;
    right: 0;
    top: 0;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    justify-content: center;
    flex-direction: column;
    transition: all 1s ease-in-out;
    display: flex;
}

#loading-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

#loading-text {
    font-family: 'Gideon Roman', cursive;
    letter-spacing: 2vmin;
    font-size: 6vmin;
    margin: .75vmax;
    animation: 1s loading linear infinite;
    animation-delay: calc(.2s * var(--i));
    background: -webkit-gradient(linear, left top, right bottom,
            from(rgb(240, 215, 80)),
            color-stop(20%, rgb(231, 205, 59)),
            color-stop(40%, rgb(217, 173, 21)),
            to(rgb(252, 225, 134)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes loading {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateX(0px);
    }
}

#loading-credits {
    display: flex;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -65%);
    justify-content: center;
    flex-direction: row;
    height: auto;
}

#person {
    height: fit-content;
    width: fit-content;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 1vmin 2vmin;
}

#person * {
    font-family: 'Shippori Mincho B1', serif;
    height: fit-content;
    width: fit-content;
}

#name {
    font-size: 2vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: .25vmin;
}

#spacer {
    height: .125vmin;
    width: auto;
    border-radius: .125vmin;
}

#roles {
    font-size: 1.5vmin;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: .25vmin;
}

#front-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin: 0;
}

h1 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
}

#front-page {
    width: 100vw;
    height: 100vh;
}

#front-background {
    z-index: -1;
}

#front-background svg {
    width: 40vmin;
    height: 40vmin;
    position: absolute;
    --cornermargin: -3vmin;
    fill: url(#linear-gradient);
}

#front-lt-corner {
    top: var(--cornermargin);
    left: var(--cornermargin);
}

#front-rt-corner {
    top: var(--cornermargin);
    right: var(--cornermargin);
}

#front-ld-corner {
    bottom: var(--cornermargin);
    left: var(--cornermargin);
}

#front-rd-corner {
    bottom: var(--cornermargin);
    right: var(--cornermargin);
}

#front-page-elements {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#front-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#front-title-text {
    color: var(--grad1);
    text-align: center;
    font-size: 10vmin;
    letter-spacing: 2vw;
    font-weight: bold;
    font-family: 'Turret Road', cursive;
    animation: 2s goldCycle linear infinite calc(.5s * var(--i));
    /*,*/
    /* 10s shine linear infinite 0s; */
}

@keyframes goldCycle {
    0% {
        color: var(--grad1);

    }

    20% {
        color: var(--grad2);
    }

    40% {
        color: var(--grad3);
    }

    60% {
        color: var(--grad4);
    }

    80% {
        color: var(--grad5);
    }

    100% {
        color: var(--grad1);
    }
}

@keyframes shine {
    0% {
        text-shadow: .05vmin .05vmin 8vmin #FFFFFF;
    }

    50% {
        text-shadow: .05vmin .05vmin 20vmin #FFFFFF;
    }

    100% {
        text-shadow: .05vmin .05vmin 8vmin #FFFFFF;
    }
}

#front-buttons-div {
    display: flex;
    justify-content: center;
    text-align: center;
}

#front-button-background-border {
    margin: 3vmin;
    padding: .5vmin;
    transition: 10ms;
    border-radius: 1vmin;
}

.front-button {
    z-index: 1;
    background-color: #FFFFFF;
    height: 6vmin;
    width: 20vmin;
    border-radius: .5vmin;
    justify-content: center;
    text-align: center;
    outline: none;
    border: none;
    transition: 1s;
    background: transparent;
    cursor: pointer;
    background-color: var(--base4);
}

#front-button-background-border:hover {
    background: transparent;
    transform: scale(.95);
}

#front-button-background-border:hover .front-button {
    transform: scale(1.1);
    cursor: pointer;
    background: linear-gradient(135deg,
            #e7cd3b,
            #e7cd3b 20%,
            #d9ad15 40%,
            #f0d750);
    animation: gradFlow 5s ease infinite;
    background-size: 200% 200%;
}

#front-button-background-border:hover .front-button .goldTxt {
    -webkit-text-stroke: .0125vmin #000;
    background: #000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.front-button-text {
    font-family: 'Gideon Roman', cursive;
    color: var(--base1);
    text-align: center;
    font-weight: bold;
    letter-spacing: .25vmin;
    font-size: 2.5vmin;
    margin: 0;
    letter-spacing: .75vmin;
    -webkit-text-stroke: .05vmin transparent;
}

#front-button-input-background-border {
    padding: 0.5vmin;
    width: auto;
    height: auto;
    top: 50%;
    transition: 10ms;
    border-radius: 1vmin;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    transition: 1s;
}

#front-button-input-background-border:hover{
    transform: scale(1.05);
}

#front-join-input {
    height: 6vmin;
    width: 40vmin;
    text-align: center;
    caret-color: var(--base4);
    font-family: 'Gideon Roman', cursive;
    font-size: 2vmin;
    font-weight: bold;
    -moz-appearance: textfield;
    letter-spacing: 2vmin;
    -webkit-text-stroke: .05vmin var(--base4);
    background-color: transparent;
    color: var(--base4);
    text-transform: uppercase;
}

#front-join-input::placeholder {
    font-family: 'Gideon Roman', cursive;
    color: var(--base4);
    font-weight: bold;
}

input#front-join-input::-webkit-inner-spin-button, input#front-join-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

#front-button-enter-background-border {
    margin: 3vmin;
    padding: .5vmin;
    transition: 10ms;
    border-radius: 1vmin;
}

#front-button-enter-background-border:hover, #front-button-home-background-border:hover {
    background: transparent;
    transform: scale(.95);
}

#front-button-enter-background-border:hover #front-button-enter, #front-button-home-background-border:hover #front-button-home {
    transform: scale(1.1);
    cursor: pointer;
    background: linear-gradient(135deg,
            #e7cd3b,
            #e7cd3b 20%,
            #d9ad15 40%,
            #f0d750);
    animation: gradFlow 5s ease infinite;
    background-size: 200% 200%;
}

#front-button-home-background-border:hover #front-button-home {
    transform: scale(1.2);
}

#front-button-enter-background-border:hover #front-button-enter #front-button-enter-text {
    background: var(--base4);
    -webkit-background-clip: text;
}

#front-button-home-background-border {
    margin-top: auto;
    margin-bottom: auto;
    height: 6vmin;
    width: 6vmin;
    padding: .5vmin;
    justify-content: center;
    border-radius: 1vmin;
    transition: 1s;
}

#front-button-home {
    height: 6vmin;
    width: 6vmin;
    background: var(--base4);
    position: relative;
    justify-content: center;
    border-radius: 1vmin;
    transition: 1s;
}

#front-button-home svg {
    position: relative;
    height: 4vmin;
    width: 4vmin;
    top: 50%;
    fill: url(#gold1);
    transform: translateY(-50%);
}


#front-button-home-background-border:hover #front-button-home #front-button-home-svg {
    fill: var(--base4);
}

#icons {
    position: absolute;
    display: flex;
    right: 15vmin;
    top: 4vmin;
    height: auto;
    width: auto;
    justify-content: center;
}

#icon-container {
    justify-content: center;
    display: flex;
}

.front-icon-svg {
    transition: .5s;
    fill: url(#gold);
    height: auto;
    width: auto;
}

.front-icon-background-border {
    padding: .5vmin;
    margin: 4vmin;
    margin-left: 2vmin;
    margin-right: 2vmin;
    transition: 10ms;
    border-radius: 50%;
    justify-content: center;
    display: flex;
}

.front-icon {
    display: flex;
    height: var(--icon-h);
    width: var(--icon-w);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: .5s;
}

.front-icon-text {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: calc(var(--icon-h)*2 /3);
    color: var(--base4);
    text-align: center;
    line-height: var(--icon-h);
    transition: .5s;
    position: absolute;
    -webkit-background-clip: text;
    -webkit-text-stroke: .125vmin var(--base4);
}

.front-icon-background-border:hover .front-icon svg {
    transform: scale(1.1);
    fill: var(--accent3)
}

#setting-icon-text {
    font-size: calc(var(--icon-h)/4*3);
}

.front-icon-background-border#log div h1 {
    font-size: 1.8vmin;
    -webkit-text-stroke: 0;
}

#front-login {
    height: 8vmin;
    width: 8vmin;
    border: 1vmin solid var(--base1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 1vmin;
}

#front-login-pfp-border {
    height: 8vmin;
    width: 8vmin;
    padding: .5vmin;
    border-radius: 50%;
}

#front-login img {
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
}

#username {
    position: absolute;
    font-family: 'Gideon Roman', cursive;
    font-size: 1.75vmin;
    -webkit-text-stroke: 0;
    text-align: center;
    transform: translateY(9vmin);
    -webkit-text-stroke: .0125vmin var(--accent1);
    font-weight: 550;
    padding: .25vmin;
    letter-spacing: .125vmin;
}

#front-game {
    display: flex;
    justify-content: center;
    height: 100vw;
    width: 100vh;
}

#front-game-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2vmin;
    justify-content: center;
    flex-direction: row;
    display: none;
}

#front-game-content-title-text {
    font-size: 5vmin;
    letter-spacing: 1.5vmin;
    -webkit-text-stroke: .125vmin transparent;
    position: absolute;
    left: 50%;
    top: -15%;
    transform: translate(-50%, 10%);
    font-family: 'Gideon Roman', cursive;
}

#front-game-official-card-wrapper, #front-game-random-card-wrapper {
    margin-left: 10vmin;
    margin-right: 10vmin;
}

#front-game-official-card, #front-game-random-card {
    display: flex;
    width: auto;
    height: auto;
}

#front-game-official-card:hover #front-game-official-inner-card, #front-game-random-card:hover #front-game-random-inner-card {
    transform: rotateY(180deg);
}

#front-game-official-inner-card, #front-game-random-inner-card {
    height: auto;
    width: auto;
    transform-style: preserve-3d;
    transition: 1s;
}

#front-game-official, #front-game-random {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    /* padding: 1vmin; */
    border-radius: .5vmin;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--base7);
    border-radius: 2vmin;
    width: var(--card-width);
    height: var(--card-height);
    box-shadow: 1vmin 1vmin 1vmin rgba(0, 0, 0, 0.459);
}

#front-game-official-back, #front-game-random-back {
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 0%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    justify-content: center;
    flex-direction: row;
    background-color: var(--base7);
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 2vmin;
    box-shadow: 1vmin 1vmin 1vmin rgba(0, 0, 0, 0.459);
}

#front-game-div-background {
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 1vmin;
    opacity: .9;
}

#front-game-official p, #front-game-random p {
    font-size: 3vmin;
    position: absolute;
    top: 79%;
    z-index: 1;
    letter-spacing: 1vmin;
    -webkit-text-stroke: .25vmin transparent;
    font-family: 'Gideon Roman', cursive;
}

#front-game-official-text-back, #front-game-random-text-back {
    font-family: 'Gideon Roman', cursive;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-30%, -20%);
    font-size: 3vmin;
    letter-spacing: 1vmin;
    -webkit-text-stroke: .125vmin var(--accent1);
}

#front-game-official-text-content, #front-game-random-text-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -20%);
    width: 30vmin;
    margin: 2vmin;
    font-size: 2.5vmin;
    letter-spacing: .25vmin;
    color: var(--accent1);
    -webkit-text-stroke: .0313vmin var(--accent1);
    font-family: 'Shippori Mincho B1', serif;
}

#front-game-official-click, #front-game-random-click {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 2vmin;
    color: var(--accent1);
    font-family: 'Shippori Mincho B1', serif;
}

#front-game-button-back {
    position: absolute;
    background: none;
    border: none;
    bottom: 10vmin;
    left: 10vmin;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

#front-game-button-back-icon {
    transform-origin: center;
    height: 6vmin;
    width: 6vmin;
    margin: 0;
    fill: url(#gold);
}

#front-game-button-back:hover {
    transform: scale(1);
}

#front-game-button-back:hover p, #front-game-button-back:hover svg {
    color: #09ff00;
    fill: #09ff00;
}

#front-button-back {
    transition: .5s;
    display: none;
    width: auto;
    height: auto;
    position: absolute;
    border: none;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 10%);
    background: none;
    color: transparent
}

#front-button-back-text {
    font-family: 'Gideon Roman', cursive;
    transition: .5s;
    letter-spacing: .5vmin;
    font-size: 2.6vmin;
    color: var(--accent1);
    border-bottom: solid var(--accent1) .25vmin;
}

#front-button-back:hover #front-button-back-text {
    transform: scale(1.1);
    letter-spacing: .5vmin;
    font-size: 2.8vmin;
    color: #09ff00;
    border-bottom: solid #09ff00 .25vmin;
}

#bottom-bar-border {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: .5vmin;
    margin: 2vmin;
    margin-bottom: 5vmin;
    border-radius: 5vmin;
}

#bottom-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--base4);
    padding: 1vmin;
    border-radius: 5vmin;
}

#bb-login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0vmin 2vmin;
    height: 5vmin;
    width: 5vmin;
}

#bb-login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    justify-content: center;
}

#bb-login-border {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 10vmin;
    width: 10vmin;
    padding: .5vmin;
    border-radius: 50%;
}

#bb-login img {
    height: 10vmin;
    width: 10vmin;
    margin: 0;
    border-radius: 50%;
}

#bb-login-content p {
    letter-spacing: .125vmin;
}

.bb-icon-svg {
    transition: .5s;
    fill: url(#gold1);
    height: 4vmin;
    width: 4vmin;
    margin: auto 5vmin;
}

.bb-icon-svg:hover {
    transform: scale(1.2);
    fill: var(--accent3);
}