body {
    margin: 0;
    /* overflow: hidden; */
    /* background: radial-gradient(#015f17, #217E18); */
    background: var(--base4);
    
}

/*
1 : you
2 : opponet on your right
3 : your teammate
4 : opponet on your left
*/

#table-border {
    height: 75vmin;
    width: 75vmin;
    padding: 1vmin;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -20%);
}

#table {
    width: 75vmin;
    height: 75vmin;
    border-radius: 50%;
    background: radial-gradient(#015f17, #217E18);
}

#bk-svg {
    height: 60vmin;
    width: 60vmin;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

/*
width: 20vmin;
height 6vmin;
*/

.played {
    background-color: yellow;
    position: absolute;
    --playedMargin: 12vmin;
    --cardH: 9vmin;
}

.card {
    width: var(--cardH);
    height: auto;
    margin: -3vmin;
}

#playedcard1, #playedcard3 {
    width: var(--cardH);
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

#playedcard2, #playedcard4 {
    width: auto;
    height: var(--cardH);
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#playedcard1 {
    bottom: 0;
    margin-bottom: var(--playedMargin);
}

#playedcard2 {
    right: 0;
    margin-right: var(--playedMargin);
}

#playedcard3 {
    top: 0;
    margin-top: var(--playedMargin);
}

#playedcard4 {
    left: 0;
    margin-left: var(--playedMargin);
}

#playedcard2 * {
    transform: rotate(180deg);
    height: var(--cardH);
    width: auto;
}

#playedcard3 * {
    transform: rotate(180deg);
}

#playedcard4 * {
    height: var(--cardH);
    width: auto;
}

/*
70vmin wide
6vmin wide
*/

#player-deck-cover {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 10vmin;
    width: 100vw;
}

.decks {
    position: absolute;
    --deckMargin: 8vmin;
    --deckH: 6.5vw;
    --deckW: 90vw;
    --deckMH: 6.5vmin;
    --deckMW: 85vmin;
}

.deck-card {
    width: var(--deckH);
    --Omargin: -3.5vmin;
    --MOmargin: -2vmin;
    position: relative;
}

.deck-content {
    position: relative;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    margin: auto;
}

#player-decks2, #player-decks4 {
    position: absolute;
    height: fit-content;
    width: 12.4vmin;
    margin-top: auto;
    padding-bottom: auto;
}

#player-decks2 {
    right: 0;
    margin-right: 21vw;
    top: 50%;
    transform: translateY(-50%);
}

#player-decks3 {
    width: fit-content;
    height: fit-content;
    top: 0;
    margin-top: -10vmin;
    left: 50%;
    transform: translateX(-50%);
}

#player-decks4 {
    left: 0;
    margin-left: 21vw;
    top: 50%;
    transform: translateY(-50%);
}

#player-decks1-content {
    object-fit: scale-down;
    margin: 0;
    height: 13vmin;
    display: flex;
}

#player-decks2-content .deck-card {
    transform: rotate(180deg);
    height: 8vmin;
    margin-top: -3vmin;
    margin-bottom: -3vmin;
}

#player-decks3-content .deck-card {
    transform: rotate(180deg);
    margin: 0vmin -2.75vmin;
    width: 8vmin;
}

#player-decks4-content .deck-card {
    height: 8vmin;
    margin-top: -3vmin;
    margin-bottom: -3vmin;
}

#sidebar-border {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    padding: .5vmin;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    border-radius: 2vmin;
    margin: 1vmin;
}

#sidebar {
    justify-content: center;
    background: var(--base4);
    border-radius: 2vmin;
}

#sidebar-content {
    display: flex;
    flex-direction: column;
}

#svg-container {
    margin: 3vmin 1vmin;
    height: fit-content;
    width: fit-content;
}

.ui-button {
    fill: url(#gold);
    transition: 200ms;
    height: 5vmin;
    width: 5vmin;
}

.ui-button:hover {
    fill: var(--accent3);
    transform: scale(1.15);
}

#user-container-border{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: fit-content;
    width: fit-content;
    padding: .5vmin;
    padding-right: 0;
    border-radius: 1vmin 0 0 1vmin;
}

#user-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: var(--base6);
    border-radius: 1vmin 0 0 1vmin;
}

.user-content {
    position: relative;
    padding: 1.5vmin;
    display: flex;
    flex-direction: row;
    padding-right: 5vmin;
}

#user1{
    border-radius: 1vmin 0 0 0;
}

#user1, #user3{
    background-color: #015f17;
}

#user2, #user4{
    background-color: darkred;
}

#user4{
    border-radius: 0 0 0 1vmin;
}

.user-pfp {
    height: fit-content;
    width: fit-content; 
    filter: inherit;
}

.user-pfp img {
    position: relative;
    height: 8vmin;
    width: 8vmin;
    object-fit: cover;
    border-radius: 1vmin;
    filter: inherit;
}

.username {
    position: relative;
    height: 8vmin;
    display: flex;
    justify-content: center;
    filter: inherit;
}

.username p {
    margin: auto 0 auto 2vmin;
    padding: 0;
    filter: inherit;
}

#user-container-pointer {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.user-pointer {
    display: flex;
    width: 28vmin;
    height: 8vmin;
    margin: 1.5vmin 1.5vmin 1.5vmin 20vmin;
    justify-content: left;
}

#user-pointer-svg {
    height: 5vmin;
    width: 5vmin;
    fill: url(#gold);
}

.grayscale{
    filter: grayscale(70%);
}

.point-counter{
    position: absolute;
    top: 0;
    left: 0;
    margin: 2vmin;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.point-counter div{
    display: flex;
    flex-direction: row;
    margin: 0 1vmin 0 1vmin;
}

.point-counter div :nth-child(2){
    margin-left: .5vmin;
    color: red;
}


